<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />

</head>

<body>
    <h2>Register</h2>
    <% if (error) { %>
        <p style="color:red;">
            <%= error %>
        </p>
        <% } %>
            <form action="/attendee/create" method="POST">
                <input type="email" name="email" placeholder="Email" required /><br />
                <input type="password" name="name" placeholder="Password" required /><br />
                <button type="submit">Register</button>
            </form>
            <p>Already registered? <a href="/login">Login here</a></p>
</body>

</html>